@import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');

.App {
  text-align: center;
  font-family: 'Comic Neue';
}



.leftContainer{
 
}


.game-board{
  height: 800px;
  width: 700px;
  
  text-align: center;
  float: right;
}

.canvasContainer{
  text-align: right;
}

