@import url("https://fonts.googleapis.com/css?family=Comic+Neue&display=swap");

.App {
  height: 100vh;
  font-family: "Comic Neue";
  color: #4c5a69;
}

.modalApp {
  text-align: center;
  font-family: "Comic Neue";
}

.game-board {
  height: 800px;
  width: 700px;
  text-align: center;
  float: right;
}

.canvasContainer {
  text-align: right;
}

.address__text {
  margin: 0;
  text-align: left;
}
